title = "Projects"
url = "/projects/:slug"
layout = "default"
is_hslugden = 0

[viewBag]
localeUrl[En] = "/projects/:slug"
localeUrl[Cat] = "/projects/:slug"

==

<?php

use bmut\antsastre\Models\Project;

function onStart(){
    $slug = $this->param('slug');
    $this['project'] = Project::where('slug',$slug)->first();
}
?>
==

<div class="modul-1 margeRelSuperiorL margeRelInferiorXl scrollreveal" style="background-image: url({{project.principal_image.getPath()}})">
        <div class="wrapper">
            <h1 class="ample60">{{project.title}}</h1>
            <h2 class="ample60">{{project.description}}</h2>
        </div>
    </div>
    <div class="modul-3 margeSuperiorL scrollreveal">
        <div class="wrapper">
            <h2>Antonia Sastre + Partners is an international practice operating within the traditional boundaries of architecture and urbanism. </h2>
        </div>
    </div>
{% for modules in project.module %}

    {% if modules.modulos == 'A' %}

    <div class="modul-2 scrollreveal">
        <div class="margeSuperiorL">
            <div class="wrapper flexText">
                <div class="descripcio ample40">
                    <p>{{modules.descripcion_A}}</p>
                </div>
                <div class="detalls">
                    {{modules.descripcion_A_2 | raw}}
                </div>
            </div>
        </div>
    </div>

    {% elseif modules.modulos == 'B' %}

    <div class="modul-5 margeSuperiorL margeInferiorL scrollreveal wrapper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for img_B in  project.img_slider_B %}
                <div class="swiper-slide">
                    <img src="{{img_B.getPath()}}" alt="descripcio">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% elseif modules.modulos == 'C' %}

    <div class="modul-6 margeSuperiorL margeInferiorL scrollreveal">
    <div class="wrapper flexContainer flexText">
        <div class="txt">
            <p>{{modules.desc_C}}</p>
        </div>
        <picture>
            <source srcset="{{project.img_C.getPath()}}" media="(max-width: 420px)">
            <source srcset="{{project.img_C.getPath()}}" media="(max-width: 1024px)">
            <source srcset="{{project.img_C.getPath()}}">
            <img srcset="{{project.img_C.getPath()}}" alt="Descripcio">
        </picture>
    </div>
</div>

    {% elseif modules.modulos == 'D' %}


        <div class="modul-6 margeSuperiorL margeInferiorL scrollreveal">
            <div class="wrapper">
              {{modules.desc_D}}
            </div>
        </div>

    {% elseif modules.modulos == 'E' %}

    <div class="modul-4 margeSuperiorL scrollreveal">
    <picture>
        <source srcset="{{project.img_E.getPath()}}" media="(max-width: 420px)">
        <source srcset="{{project.img_E.getPath()}}" media="(max-width: 1024px)">
        <source srcset="{{project.img_E.getPath()}}">
        <img srcset="{{project.img_E.getPath()}}" alt="Descripcio" class="imgFull scrollreveal">
    </picture>
  </div>

    {% endif %}

{% endfor%}
