title = "index"
url = "/"
layout = "default"
is_hidden = 0
==
<?php
use bmut\antsastre\Models\Project;

function onStart(){

$this['projects'] = Project::get();
}
?>
==
<main class="bordeInferior">
        <article class="wrapper">
            <div class="ample60 margeRelSuperiorXl">
                <h1>{{'Titulo Home'|_}}</h1>
            </div>
        </article>
        <img src="{{'assets/img/img-full.jpg'|theme}}" alt="descripcio" class="imgFull scrollreveal">
        <article class="wrapper scrollreveal">
            <div class="about ample60 margeSuperiorXl margeInferiorXl">
                <h6>{{'Sobre Nosotros'|_}}</h6>
                <h2>{{'Sobre Nosotros Subtitulo'|_}}</h2>
                <p>{{'Sobre Nosotros Descripcion'|_}}</p>
                <a href="nosotros.html"><i class="material-icons">add</i></a>
            </div>
        </article>
    </main>
    {% for project in projects %}
    {% if project.id % 2 == 0 %}
    <aside class="llistatProjecte scrollreveal">
        <div class="llistatFoto">
            <img src="{{project.principal_image.getPath()}}" alt="descripcio">
        </div>
        <div class="llistatText alinearVerticalPare">
            <div class="alinearVerticalFill">
                <h2>{{project.title}}</h2>
                <p>{{project.description|slice(0,150)|raw}}</p>
                <a href="{{'detalleproyecto' |page({slug: project.slug})}}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </aside>
    {% else %}
    <aside class="llistatProjecte invertit scrollreveal">
        <div class="llistatFoto">
            <img src="{{project.principal_image.getPath()}}" alt="descripcio">
        </div>
        <div class="llistatText alinearVerticalPare">
            <div class="alinearVerticalFill">
                <h2>{{project.title}}</h2>
                <p>{{project.description|slice(0,150)|raw}}</p>
                <a href="{{'detalleproyecto' |page({slug: project.slug})}}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </aside>
    {% endif %}
    {% endfor %}
