title = "index"
url = "/"
layout = "default"
is_hidden = 0

==
<?php

use bmut\antsastre\Models\Project;

function onStart(){

$this['projects'] = Project::get();
}
?>
==

<main class="bordeInferior">
        <article class="wrapper">
            <div class="ample60 margeRelSuperiorXl scrollreveal">
                <h1>Arquitectura innovadora & diseño integrado</h1>
            </div>
        </article>
        <img src="{{'assets/img/img-full.jpg'|theme}}" alt="descripcio" class="imgFull scrollreveal">
        <article class="wrapper scrollreveal">
            <div class="ample60 margeSuperiorXl margeInferiorXl">
                <h6>Sobre Nosotros</h6>
                <h2>Antonia Sastre + Partners is an international practice operating within the traditional boundaries of architecture and urbanism.</h2>
                <p>Partimos de la base de que la mejor arquitectura procede de una síntesis de todos los elementos que separados forman y documentan el carácter de un edificio; la estructura que lo sostiene; las instalaciones que permiten que funcione; su valor natural; la calidad de la iluminación natural; el simbolismo de la forma; la relación del edificio con la línea de horizonte o el paisaje urbano; el modo en que uno circula por él; y por último, su capacidad de levantar el ánimo. Arquitectos e ingenieros, al trabajar en equipo de manera creativa desde la concepción del proyecto, combinan su experiencia para idear soluciones integradas e sostenibles.</p>
                <a href="nosotros.html"><i class="material-icons">add</i></a>
            </div>
        </article>
    </main>
    {% for project in projects %}
    {% if project.id % 2 == 0 %}
    <aside class="llistatProjecte scrollreveal">
        <div class="llistatFoto">
            <img src="{{project.principal_image.getPath()}}" alt="descripcio">
        </div>
        <div class="llistatText alinearVerticalPare">
            <div class="alinearVerticalFill">
                <h2>{{project.title}}</h2>
                <p>{{project.description|slice(0,150)|raw}}</p>
                <a href="{{'detalleproyecto' |page({slug: project.slug})}}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </aside>
    {% else %}
    <aside class="llistatProjecte invertit scrollreveal">
        <div class="llistatFoto">
            <img src="{{project.principal_image.getPath()}}" alt="descripcio">
        </div>
        <div class="llistatText alinearVerticalPare">
            <div class="alinearVerticalFill">
                <h2>{{project.title}}</h2>
                <p>{{project.description|slice(0,150)|raw}}</p>
                <a href="{{'detalleproyecto' |page({slug: project.slug})}}"><i class="material-icons">add</i></a>
            </div>
        </div>
    </aside>
    {% endif %}
    {% endfor %}
