<footer class="scrollreveal">
    <ul>
        <li>Instagram — LinkedIn</li>
        <li>© Antònia Sastre + Partners — Aviso legal</li>
    </ul>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.4/scrollreveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"></script>

<script>

    $(document).ready(function() {
        ScrollReveal().reveal('.scrollreveal', {
            delay: 250,
            duration: 600,
            easing: 'ease-in'
        });
        $("#burgerMenu, #burgerMenu2, #closeMenu").click(function() {
            $("nav").fadeToggle();
        });
    });

    $(window).scroll(function() {
        var height = $(window).scrollTop();

        if (height > 200) {
            $("#sticky").fadeIn();
        }
        if (height < 200) {
            $("#sticky").fadeOut();
        }
    });
</script>
